@tailwind base;
@tailwind components;
@tailwind utilities;

[data-overlay-container="true"] {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: white;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 1.6;
}

[data-key="actions"] {
  text-align: end !important;
}

.hover-bg-default:hover {
  @apply bg-default-100;
}

.custom-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dark-linear-gradient {
  background: linear-gradient(24deg,
      #6100c2 1.89%,
      #1c171e 75.65%,
      #191817 78.98%);
}

.text-white {
  color: #fff;
  opacity: 1;
}

.letter-spacing-1 {
  letter-spacing: 4px;
}

.letter-spacing-2 {
  letter-spacing: 8px;
}

.letter-spacing-3 {
  letter-spacing: 12px;
}

.bg-purple {
  background-color: #6100c2;
}

.wrapper-notification {
  position: fixed !important;
  top: 1rem;
  z-index: 9999 !important;
  width: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  animation: slideDown 0.5s ease forwards, slideUp 0.5s ease 4s forwards;

}

.notification {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  padding: 0.75rem 2rem;
}

.form-auth {
  margin-top: 2rem;
  gap: 1rem;
  @apply flex flex-col max-w-[600px] w-full;
}

.form-auth button {
  margin-top: 3rem;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200%);
  }
}